.txtInput {
  padding: 8px;
  border-radius: 7px;
  display: block;
}

button {
  padding: 8px;
  border-radius: 7px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
}

.alert {
  color: red;
  padding-bottom: 20px;
}
