<form [formGroup]="addBook_form" >
  <label>Book name</label><br />
  <input formControlName="BookName" type="text" name="BookName" class="txtInput" required /><br />
  <div *ngIf="addBook_form.get('BookName').touched && addBook_form.get('BookName').hasError('required')" class="alert">
    Name is required.
  </div>

  <label>Description</label><br />
  <textarea formControlName="Description" name="Description" class="txtInput" required></textarea><br />
  <div *ngIf="addBook_form.get('Description').touched && addBook_form.get('Description').hasError('required')" class="alert">
    Description is required.
  </div>

  <label>Price</label><br />
  <input formControlName="Price" type="text" name="Price" class="txtInput" required /><br />
  <div *ngIf="addBook_form.get('Price').touched && addBook_form.get('Price').hasError('required')" class="alert">
    Price is required.
  </div>

  <button (click)="onSubmit()" type="submit" [disabled]="addBook_form.invalid">Submit</button>
</form>
