.taulu {
  width: 100%;
  text-align: left;
  background-color: #7700FF;
  color: white;
  padding: 5px;
}

thead {
  font-weight: bold;
}

.bookid{
  width: 7%;
}

.bookname{
  width: 20%;
}

.bookdesc{
  width: 60%;
}

.bookprice{
  width: 13%;
}
